[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-debug-toolbar = "*"
django-filter = "*"
uuid = "*"
drf-nested-routers = "*"
django-cloudinary-storage = "*"
django-environ = "*"
pillow = "*"
cloudinary = "*"

[dev-packages]

[requires]
python_version = "3.10"
